body {
    background: #e9eef5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.card {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}
