body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    margin: 5px;
    padding: 8px 15px;
    cursor: pointer;
}

p {
    font-weight: bold;
    margin-top: 20px;
}

